html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header-nav {
    background: white;
} 

.containernav {
    width: 90%;
    margin: 0 auto;
}

.mainnav {
    display: flex;
    justify-content: space-between;
}

.mainnav-nav-primary,
.mainnav-nav-secondary  {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainnav-item {
    float: left;
}

.mainnav-item a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 0.8rem;
    color: #646464;
    transition: all .20s linear;
}

.mainnav-item a:hover {
    color: black;
    background: #f2f2f2;
}

/* BODY GENERAL */

.content-wrapper {
    flex: 1 0 auto;
}

/* FOOTER */

.footernav {
    background-color: #333333;
}

.container-footer {
    width: 90%;
    margin: 0 auto;
}

.footernav-nav-primary,
.footernav-nav-secondary {
    list-style: none;
    float: left;
    margin: 0;
    padding: 1rem 10px;
    font-family: Roboto, sans-serif;
}

.footernav-nav-secondary {
    padding-left: 4rem;
}

.footernav-item a {
    text-decoration: none;
    color: #646464;
    line-height: 1.8;
    font-size: 0.8rem;
}

.footernav-item a:hover {
    color: white;
}